/* src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* Cor de fundo suave */
  min-height: 100vh; /* Garante que o body ocupe toda a altura da viewport */
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Container principal da aplicação para layout flexbox */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o container ocupe toda a altura */
}

/* Conteúdo principal que cresce para empurrar o footer */
.app-main-content {
  flex-grow: 1;
  padding: 20px; /* Espaçamento interno */
}